<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Vickraman Thekkan Ravi. It uses data from mapbox.com amd weatherstack.com </p>
        <img class = "portrait" src="/img/Vickraman_Pic.jpg">
        </div>
        {{>footer}}
    </body>

</html>